**/classes
.svn
**/.svn
.metadata/
.settings
bin
**/bin
adempiere
**/build
extend/Extendjar
install/lib
JasperReports/needed
lib/Adempiere.jar
lib/adempiereApps.jar
lib/adempiereApps.war
lib/adempiereApps.xml
lib/adempiereRoot.jar
lib/adempiereRoot.xml
lib/adempiereRootBase.war
lib/adempiereWebCM.xml
lib/adempiereWebCMbase.war
lib/adempiereWebStore.war
lib/adempiereWebStore.xml
posterita/posterita/dist
posterita/posterita/web/WEB-INF/classes
webCM/deploy
zkwebui/dist
zkwebui/WEB-INF/classes

